---
import Layout from '../layouts/Layout.astro';
import portrait from '../assets/portrait.png';
import TopNav from '../components/TopNav.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
---

<TopNav />      
<Layout title="About Me" description="Learn more about my journey and skills">
  <section class="max-w-screen-2xl mx-auto px-6 lg:px-8 mb-6">
    <div class="flex py-8 md:py-12 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-10 md:mb-0 items-center text-center space-y-4 md:space-y-6">
            <h1 class="text-3xl sm:text-4xl md:text-[60px] font-semibold leading-normal md:leading-tight">
              I'm Maribel, a <span class="text-indigo-400">Product Designer</span> with 8+ years of experience.
            </h1>
            <p class="text-xl md:text-2xl">I'm passionate about crafting intuitive, engaging, and user-centric experiences that drive business and user value.</p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 flex justify-center items-center">
            <Image src={portrait} alt="Portrait of Maribel Ferreira" class="object-cover object-center" />
        </div>
    </div>
</section>

<section class=" bg-[#15131d] pt-8 md:pt-12">
  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8 flex flex-col md:flex-row gap-8 md:gap-12 [&>div>p]:text-lg">
    <div class="md:w-1/3">
      <div class="flex items-center gap-4">
                <svg fill="none" height="32" viewBox="0 0 66 66" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m28.1267 4.23225c1.1879-5.175299 8.5587-5.175287 9.7466.00001l3.7596 16.38014c.4287 1.8676 1.8871 3.326 3.7547 3.7547l16.3802 3.7596c5.1752 1.1879 5.1752 8.5587-.0001 9.7466l-16.3801 3.7596c-1.8676.4287-3.326 1.8871-3.7547 3.7547l-3.7596 16.3802c-1.1879 5.1752-8.5587 5.1752-9.7466-.0001l-3.7596-16.3801c-.4287-1.8676-1.8871-3.326-3.7547-3.7547l-16.38015-3.7596c-5.175299-1.1879-5.175287-8.5587.00001-9.7466l16.38014-3.7596c1.8676-.4287 3.326-1.8871 3.7547-3.7547z" fill="#818CF8"/></svg>
      <h2 class="text-3xl md:text-4xl font-semibold">My background</h2>
    </div>
    </div>
    <div class="md:w-2/3 space-y-6 pb-8 md:pb-12 border-b border-[#373349]">
      <p>
        Fueled by my passion for art and creativity, I began my career in Graphic Design at Oxford Brookes University. I then pursued an MA in Digital Design (UX/UI) at Birkbeck, University of London, where I discovered the power of design beyond aesthetics to improve experiences and solve problems. 
      </p>
      <p>
        Since then, I've designed solutions across various industries, working in agile environments that sharpened my ability to apply user-centered principles to complex business challenges while growing as a designer.
      </p>
    </div>
  </div>
</section>

<section class="bg-[#15131d]">
  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8 pt-8 md:pt-12 flex flex-col md:flex-row gap-8 md:gap-12 [&>div>p]:text-lg">
    <div class="md:w-1/3">
      <div class="flex items-center gap-4">
        <svg fill="none" height="32" viewBox="0 0 66 66" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m28.1267 4.23225c1.1879-5.175299 8.5587-5.175287 9.7466.00001l3.7596 16.38014c.4287 1.8676 1.8871 3.326 3.7547 3.7547l16.3802 3.7596c5.1752 1.1879 5.1752 8.5587-.0001 9.7466l-16.3801 3.7596c-1.8676.4287-3.326 1.8871-3.7547 3.7547l-3.7596 16.3802c-1.1879 5.1752-8.5587 5.1752-9.7466-.0001l-3.7596-16.3801c-.4287-1.8676-1.8871-3.326-3.7547-3.7547l-16.38015-3.7596c-5.175299-1.1879-5.175287-8.5587.00001-9.7466l16.38014-3.7596c1.8676-.4287 3.326-1.8871 3.7547-3.7547z" fill="#818CF8"/></svg>
        <h2 class="text-3xl md:text-4xl font-semibold">My approach</h2>
      </div>
    </div>
    <div class="md:w-2/3 space-y-6 pb-8 md:pb-12 border-b border-[#373349]">
      <p>
        My design approach is purpose-driven, rooted in real user needs, aligned with business goals, and shaped through close collaboration. 
      </p>
    </div>
  </div>
</section>

<section class="bg-[#15131d]">
  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8 pt-8 md:pt-12 flex flex-col md:flex-row gap-8 md:gap-12 [&>div>p]:text-lg">
    <div class="md:w-1/3">
      <div class="flex items-center gap-4">
        <svg fill="none" height="32" viewBox="0 0 66 66" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m28.1267 4.23225c1.1879-5.175299 8.5587-5.175287 9.7466.00001l3.7596 16.38014c.4287 1.8676 1.8871 3.326 3.7547 3.7547l16.3802 3.7596c5.1752 1.1879 5.1752 8.5587-.0001 9.7466l-16.3801 3.7596c-1.8676.4287-3.326 1.8871-3.7547 3.7547l-3.7596 16.3802c-1.1879 5.1752-8.5587 5.1752-9.7466-.0001l-3.7596-16.3801c-.4287-1.8676-1.8871-3.326-3.7547-3.7547l-16.38015-3.7596c-5.175299-1.1879-5.175287-8.5587.00001-9.7466l16.38014-3.7596c1.8676-.4287 3.326-1.8871 3.7547-3.7547z" fill="#818CF8"/></svg>
        <h2 class="text-3xl md:text-4xl font-semibold">Skills</h2>
      </div>
    </div>
    <div class="md:w-2/3 space-y-6 pb-8 md:pb-12 border-b border-[#373349] text-lg">
      <div class="space-y-2">
      <h3 class="text-xl md:text-xl">Product Design</h3>
      <p>
        UX/UI Design, User Research, Usability Testing, Competitor Analysis, User Flows, Wireframing, Prototyping, Design Systems, Visual Design, Branding, Accessibility (WCAG), Responsive Design, Animation, Agile Workflow.
      </p>
    </div>
    <div class="space-y-2">
      <h3 class="text-xl md:text-xl">Development</h3>
      <p>
        HTML5, CSS3, JavaScript, Tailwind CSS, React, React Native, NodeJS.
      </p>
    </div>
  </div>
  </div>
</section>

<section class="bg-[#15131d]">
  <div class="max-w-screen-2xl mx-auto px-6 lg:px-8 pt-8 md:pt-12 flex flex-col md:flex-row gap-8 md:gap-12 [&>div>p]:text-lg">
    <div class="md:w-1/3">
      <div class="flex items-center gap-4">
        <svg fill="none" height="32" viewBox="0 0 66 66" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m28.1267 4.23225c1.1879-5.175299 8.5587-5.175287 9.7466.00001l3.7596 16.38014c.4287 1.8676 1.8871 3.326 3.7547 3.7547l16.3802 3.7596c5.1752 1.1879 5.1752 8.5587-.0001 9.7466l-16.3801 3.7596c-1.8676.4287-3.326 1.8871-3.7547 3.7547l-3.7596 16.3802c-1.1879 5.1752-8.5587 5.1752-9.7466-.0001l-3.7596-16.3801c-.4287-1.8676-1.8871-3.326-3.7547-3.7547l-16.38015-3.7596c-5.175299-1.1879-5.175287-8.5587.00001-9.7466l16.38014-3.7596c1.8676-.4287 3.326-1.8871 3.7547-3.7547z" fill="#818CF8"/></svg>
        <h2 class="text-3xl md:text-4xl font-semibold">Tools</h2>
      </div>
    </div>
    <div class="md:w-2/3 space-y-6 pb-8 md:pb-12 border-b border-[#373349] text-lg">
      <p>Figma, FigJam, Adobe Creative Suite (Ps, Ai, Id, Ae), Cursor, Astro, GitHub, MongoDB, Fastify, Jira, Notion, Lottie, Idiogram, Midjourney, Google Analytics, Google Search Console, Ahrefs.</p>
    </div>
  </div>
  </div>
</section>

  <section class="bg-[#15131d]">
    <div class="max-w-screen-2xl mx-auto px-6 lg:px-8 flex flex-col md:flex-row gap-8 md:gap-12 [&>div>p]:text-lg pt-8 md:pt-12">
      <div class="md:w-1/3">
        <div class="flex items-center gap-4">
          <svg fill="none" height="32" viewBox="0 0 66 66" width="32" xmlns="http://www.w3.org/2000/svg"><path d="m28.1267 4.23225c1.1879-5.175299 8.5587-5.175287 9.7466.00001l3.7596 16.38014c.4287 1.8676 1.8871 3.326 3.7547 3.7547l16.3802 3.7596c5.1752 1.1879 5.1752 8.5587-.0001 9.7466l-16.3801 3.7596c-1.8676.4287-3.326 1.8871-3.7547 3.7547l-3.7596 16.3802c-1.1879 5.1752-8.5587 5.1752-9.7466-.0001l-3.7596-16.3801c-.4287-1.8676-1.8871-3.326-3.7547-3.7547l-16.38015-3.7596c-5.175299-1.1879-5.175287-8.5587.00001-9.7466l16.38014-3.7596c1.8676-.4287 3.326-1.8871 3.7547-3.7547z" fill="#818CF8"/></svg>
          <h2 class="text-3xl md:text-4xl font-semibold">Outside interests</h2>
        </div>
      </div>
      <div class="md:w-2/3 space-y-6 pb-16">
        <p>When I'm not designing, you'll probably find me dancing my heart out in a Zumba or pop dance class, or having fun with some kind of art.</p>
      </div>
    </div>
  </section>
</section>
</Layout>
<Footer />
