---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import Hero from '../components/Hero.astro';
import ProjectGrid from '../components/ProjectGrid.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="My portfolio">
	<main>
		<TopNav />
		<Hero />
		<ProjectGrid />
		<Footer />
	</main>
</Layout>


