---
import starIcon from '../assets/star.svg';
---
<div class="flex items-center">
    <div class="text-center mb-8 sm:mb-8 md:mb-20 mt-12 max-w-7xl mx-auto space-y-6 px-8">
        <h1 class="font-bold leading-tight lg:leading-tight sm:leading-tight text-4xl sm:text-6xl md:text-7xl lg:text-[135px]">
            Hi! 👋 I'm Maribel
            <br>
            A <span class="text-[#8b7bf4]">Product Designer</span>
        </h1>
        <p class="font-regular sm:text-lg md:text-xl lg:text-2xl">I'm passionate about crafting experiences that are engaging, accessible, and user-centric.</p>
    </div>
</div>

<div class="hidden md:block mb-16 bg-[#262330] py-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center text-md text-neutral-200 px-8">
        {['UX/UI design', 'User Research', 'Product Strategy', 'Web Development', 'Visual Design', 'Branding'].map((skill, i, arr) => (
            <>
                <span>{skill}</span>
                {i < arr.length - 1 && <img src={starIcon.src} class="w-3 h-3" alt="Star icon" />}
            </>
        ))}
    </div>
</div>
