---
import { Image } from 'astro:assets';
import arrow from '../assets/arrow.svg';
import badge from '../assets/badge.png';
---

<div class="flex items-center py-32 bg-black">
    <div class="text-center max-w-7xl mx-auto px-6 lg:px-8">
        <h1 class="font-bold leading-tight lg:leading-tight sm:leading-tight text-4xl sm:text-6xl md:text-6xl lg:text-[82px] pb-12">
            I'm Maribel, a <span class="text-indigo-400">Product Designer</span> crafting user-centric solutions.
        </h1>
        <p class="font-regular text-lg md:text-xl lg:text-3xl mb-20 max-w-5xl mx-auto text-[#dedde0] lg:leading-normal">I specialised in UX/UI and Visual Design, whilst also enjoying web development and branding.</p>
        <div class="relative inline-block">
            <a href="#work" class="cursor-pointer">
                <Image src={badge} alt="Badge" class="w-20 h-20 animate-spin-slow" />
                <Image src={arrow} alt="Scroll down" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-6 h-6" />
            </a>
        </div>
    </div>
</div>

<style>
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    :global(.animate-spin-slow) {
        animation: spin 12s linear infinite;
    }
</style>

