---
import { Image } from 'astro:assets';
import arrow from '../assets/arrow.svg';
import badge from '../assets/badge.png';
---

<div class="flex items-center morphing-background">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="text-center mb-8 sm:mb-8 md:mb-20 mt-8 lg:mt-12 max-w-screen-2xl mx-auto px-6 lg:px-8">
        <h1 class="font-bold leading-tight lg:leading-tight sm:leading-tight text-4xl sm:text-6xl md:text-6xl lg:text-[82px] pb-12">
            I'm Maribel — a <span class="striped-text">Product Designer</span> crafting intuitive and user-focused digital experiences
        </h1>
        <p class="font-regular text-lg md:text-xl lg:text-3xl mb-16 max-w-5xl mx-auto text-[#dedde0] lg:leading-normal">Over the past 9 years, I've specialised in <span class="text-white">UX/UI</span> and <span class="text-white">Visual Design</span>, whilst also enjoying <span class="text-white">web development</span> and <span class="text-white">branding</span>.</p>
        <div class="relative inline-block">
            <a href="#work" class="cursor-pointer">
                <Image src={badge} alt="Badge" class="w-20 h-20 animate-spin-slow" />
                <Image src={arrow} alt="Scroll down" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-6 h-6" />
            </a>
        </div>
    </div>
</div>

<style>
    .morphing-background {
    
        background: #0a090e;
        position: relative;
        overflow: hidden;
    }
    
    .blob {
        position: absolute;
        width: 200px;
        height: 200px;
        filter: blur(85px);
        animation: move 8s infinite ease-in-out alternate;
        opacity: 0.5;
    }
    
    .blob-1 {
        background: #5d3997;
        top: 25%;
        left: 8%;
        animation-delay: -2s;
    }
    
    .blob-2 {
        background: #2eff8f;
        top: 40%;
        right: 10%;
    }
    
    @keyframes move {
        0% {
            transform: translate(0, 0) scale(1);
        }
        50% {
            transform: translate(100px, -100px) scale(1.2);
        }
        100% {
            transform: translate(-50px, 50px) scale(0.8);
        }
    }

    .striped-text {
        background-image: url('../assets/stripe.png');
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: cover;
        background-position: center;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    :global(.animate-spin-slow) {
        animation: spin 12s linear infinite;
    }
</style>