---
import letroImage from '../assets/letro.png';
import awalaImage from '../assets/awala.png';
import evenergyImage from '../assets/evenergy.png';
import audistarImage from '../assets/audistar.png';
import eventBookingImage from '../assets/event-app.png';
import dashboardImage from '../assets/dashboard.png';

const projects = [
  {
    title: "Letro App",
    image: letroImage,
    link: "/projects/letro"
  },
  {
    title: "Awala Desktop App",
    image: awalaImage, 
    link: "/projects/awala"
  },
  {
    title: "EV Energy App",
    image: evenergyImage,
    link: "/projects/evenergy"
  },
  {
    title: "Event Booking App",
    image: eventBookingImage,
    link: "/projects/event-app"
  },
  {
    title: "User Account Dashboard",
    image: dashboardImage,
    link: "/projects/dashboard"
  },
  {
    title: "Audistar Website Redesign",
    image: audistarImage,
    link: "/projects/audistar"
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-7xl mx-auto">
  {projects.map(project => (
    <div>
      <a 
        href={project.link}
        class="bg-white block overflow-hidden rounded-3xl transition-transform duration-300 hover:-translate-y-2 hover:shadow-xl border-2 border-black"
      >
        <div class="relative">
          <img
            src={project.image.src}
            alt={project.title}
            class="object-cover"
          />
        </div>
      </a>
      <h3 class="mt-4 text-xl font-semibold">
        {project.title}
      </h3>
    </div>
  ))}
</div>

<style>
  .group {
    background: white;
  }
</style>
