---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
const currentPath = Astro.url.pathname;

const isActive = (path: string) => 
  currentPath === path ? "text-white bg-[#3F3A4A] hover:text-[#9383f7] px-4 py-2 rounded-full" : "";
---

<nav class="py-8 max-w-screen-2xl mx-auto px-8">
  <div class="flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/"><Image src={logo} alt="Logo" class="h-6 lg:h-8 w-auto" /></a>
    </div>

    <!-- Nav items -->
    <div class="text-md text-white">
      <ul class="flex flex-row space-x-8">
        <li><a href="/" class={isActive("/")}>Portfolio</a></li>
        <li><a href="/about" class={isActive("/about")}>About</a></li>
        <li><a href="/cv" class={isActive("/cv")}>CV</a></li>
      </ul>
    </div>
  </div>
</nav>